<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4">New Question</h1>

  <p>&nbsp;</p>

  <%= render 'form' %>

  <%= link_to 'Back', questions_path, class: "btn btn-danger" %>
</div>
