<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <p id="notice"><%= notice %></p>

    <h1>New Question</h1>

    <%= render 'form' %>

    <%= link_to 'Cancel', classroom_questions_path, class: 'chalk_link' %>

  </div>
</div>
