<h1>Collegiate Rivals Admin</h1>
<% if @user %>
  <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
  <p><%= link_to "Question admin", questions_path %></p>
<% else %>
  <p><%= link_to "Sign in", new_user_session_path, method: :get %></p>
<% end %>