<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4 text-xs-center text-uppercase">Welcome!</h1>
  <p>&nbsp;</p>
  <p class="text-xs-center"><%= link_to "Sign in", new_user_session_path, method: :get, class: "btn btn-primary btn-lg text-uppercase" %></p>
</div>
