<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <h1>New Classroom</h1>

    <%= render 'form' %>

    <%= link_to 'Back', classrooms_path, class: 'btn btn-danger' %>

  </div>
</div>
