<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4">YOU CAN'T BE HERE!</h1>

  <p>&nbsp;</p>

  <h2>You must be authorized!</h2>

  <p><%= link_to "Home", root_path, class: "btn btn-primary btn-lg text-uppercase" %></p>
  <p><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg text-uppercase"  %></p>
</div>