<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">
    <h1>My Games</h1>

    <a href="/games/collegiate_rivals/#/" class="game_logos animated infinite pulse"><img src="/images/collegiate_rivals/logo.png" /></a>
  </div>
</div>
