<%= render 'layouts/header_main' %>

<div class="container-fluid">
  <h1 class="display-4">Edit Profile</h1>

  <%= render 'form' %>

  <p><%= link_to 'Back', teachers_path, class: "btn btn-danger" %></p>
</div>
