<%= render 'layouts/header_main' %>

<div class="content_overlay content_column">
  <div class="container-fluid content_overlay">

    <h1>Edit School Info</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @school %> |
    <%= link_to 'Back', schools_path %>

  </div>
</div>
