<%= render 'layouts/header_main' %>

<div class="content_column content_overlay">
  <div class="container-fluid">

    <h1>New School</h1>

    <%= render 'form' %>

    <%= link_to 'Back', schools_path, class: "btn btn-danger" %>

  </div>
</div>
