// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_logos {
  display: block;
  width: 50%;
  float: left;
  padding: 1vmin;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
