$text: 'Oswald', sans-serif;

textarea {
  min-height: 16vmin;
}

.table {
  background-color: white;
  th {
    text-transform: uppercase;
    background: #333;
    color: white;
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
  }
}
