.header_column {
  width: 30%;
  float: left;
  padding: 4vmin 0 0 5vmin;
}

.static_header {
  padding: 1vmin;
  margin: 0 0 2vmin;
  position: relative;

  h2, p, li, a {
    color: white;
    font-family: Eraser, sans-serif;
  }

  h2 {
    font-size: 4vmin;
    padding-bottom: 2vmin;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;

      a {
        display: inline-block;
        padding: 1vmin;
        font-size: 3vmin;
      }
    }
  }
}

.static_header.content_overlay {
  z-index: 1000;
}
