.static_header {
  padding: 2vmin;
  margin: 0 0 2vmin;
  -webkit-box-shadow: 0 1px 2px black;
  -moz-box-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px black;
  background: #dddddd;
  position: relative;
}
