@import "globals";

body {
  background-color: #fff;
  color: #333;
  font-family: $text, verdana, arial, helvetica, sans-serif;
}

p, ol, ul, td {
  font-family: $text, verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width:60%;
  bottom:3vmin;
  text-align: center;
  left: 20%;
  padding: 0;
  line-height: 200%;
  font-size: 2.5vmin;
  font-family: Eraser, sans-serif;
}

.field_with_errors {
  padding: 0px;
  color: red;

  input {
    border: 1px solid red;
  }
}

.field_with_errors + br {
  display: none;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: red;

  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 3vmin;
  }

  ul li {
    font-size: 2.5vmin;
  }
}
