<div class="chalkboard_background">
</div>

<header class="static_header content_overlay">
  <h2>The Chalkboard Classroom</h2>

  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Games", games_path %></li>
    <li><%= link_to "Sign In", new_user_session_path, method: :get %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>
</header>
