<div class="chalkboard_background">
</div>

<header class="static_header content_overlay">
  <div class="row">
    <%= render 'layouts/logo_main' %>
    <%= render 'layouts/menu_main' %>
  </div>
</header>
