<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="index">
  <div class="content_overlay">

    <div class="content_container">
      <div class="logo animated bounceInDown">
          <div class="animated infinite pulse">
            <img src="/images/collegiate_rivals/logo.png" />
          </div>
      </div>
      <h1 class="animated infinite tada">Welcome<br />{{ user.first_name }}!</h1>
    </div>

    <div class="button_container">
      <button ui-sref="menu" class="btn btn-primary left_button animated rubberBand">Menu</button>

      <button ui-sref="settings.homeTeam" class="btn btn-success right_button animated rubberBand">Start</button>
    </div>

  </div>
</div>
