<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="menu">
  <div class="content_overlay">

    <div class="content_container">
      <div class="logo">
        <img src="/assets/collegiate_rivals/logo.png" />
      </div>

      <h3>Player Info</h3>

      <p>{{ session.value.student[0].name_first }} {{ session.value.student[0].name_last }}</p>

      <p><strong>Favorite Team:</strong><br />{{ session.value.student[0].favorite_team }}</p>

      <p><strong>Record:</strong><br />{{ session.value.student[0].game_wins }} - {{ session.value.student[0].game_losses }}</p>
    </div>

    <div class="button_container">
      <a class="btn btn-danger left_button" href="/games">End</a>

      <button class="btn btn-success right_button" home-button>New</button>
    </div>

  </div>
</div>
