<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="menu">
  <div class="content_overlay">

    <div class="content_container">
      <div class="logo animated bounceInDown">
          <div class="animated infinite pulse">
              <img src="/images/collegiate_rivals/logo.png" />
          </div>
      </div>

      <div ng-hide="showExitGamePopup">
        <h3>Player Info</h3>

        <p>{{ session.name_first }} {{ session.name_last }}</p>

        <p><strong>Favorite Team:</strong><br />{{ session.favorite_team }}</p>

        <p><strong>Record:</strong><br />{{ session.game_wins }} - {{ session.game_losses }}</p>
      </div>

      <div ng-show="showExitGamePopup">
        <h2>Are you sure?</h2>
        <h3>Your current game will not be saved!</h3>
      </div>
    </div>

    <div class="button_container">
      <div ng-hide="showExitGamePopup">
        <a class="btn btn-danger left_button animated rubberBand" ng-click="toggleExitGamePopup()">End Game</a>

        <button class="btn btn-success right_button animated rubberBand" home-button>Home</button>
      </div>

      <div ng-show="showExitGamePopup">
        <a class="btn btn-danger left_button animated rubberBand" href="/games">Exit</a>

        <button class="btn btn-success right_button animated rubberBand" ng-click="toggleExitGamePopup()">Resume</button>
      </div>
    </div>

  </div>
</div>
