<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="paused">
  <div class="content_overlay">

    <div class="content_container">
      <div class="logo">
        <img src="/assets/collegiate_rivals/logo.png" />
      </div>
      <h1>Game paused!</h1>
    </div>

    <!-- TODO: ADD CHANGE QUESTIONS OPTION -->

    <div class="button_container">
      <button ui-sref="home" class="btn btn-danger left_button">End Game</button>
      <button class="btn btn-success right_button" previous-state-button>Go Back</button>
    </div>

  </div>
</div>
