<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="play">
  <div class="content_overlay">

    <div class="scoreboard_container">
      <div ui-view="scoreboard"></div>
    </div>

    <div class="content_container">
      <h2>Play</h2>

      <h3>{{ plays.playList }}</h3>
    </div>

    <div class="button_container">
      <a class="btn btn-primary left_button" ui-sref="score.confirm">Score</a>

      <a class="btn btn-success right_button" ui-sref="gameplay.newplay">Next</a>
    </div>

  </div>
</div>
