<div class="stadium_background">
  <div class="white_overlay">
  </div>
</div>

<div id="review">
  <div class="content_overlay">

    <div class="content_container">
      <h2>Review Settings</h2>

      <div class="review_logo animated pulse infinite">
        <img class="animated tada" ng-src="/images/teams/home/{{ review.homeTeam.logo }}.png" />
      </div>

      <div class="review_versus">
        <span>VS</span>
      </div>

      <div class="review_logo animated pulse infinite right">
        <img class="animated tada" ng-src="/images/teams/home/{{ review.awayTeam.logo }}.png" />
      </div>
    </div>

    <div class="review_settings">
      <h2>Questions</h2>
      <p>{{ review.questions }}</p>
    </div>

    <div class="review_settings">
      <h2>Quarters</h2>
      <h3>{{ review.quarterLength }}:00</h3>
    </div>

    <div class="review_settings">
      <h2>Sounds</h2>
      <h3>{{ review.sounds }}</h3>
    </div>

    <div class="button_container">
      <button class="btn btn-warning left_button" ui-sref="settings.homeTeam">Edit</button>

      <button class="btn btn-success right_button" ui-sref="cointoss.choice" start-new-clock>coin toss</button>
    </div>

  </div>
</div>