<div class="scoreboard_container" ng-controller="ScoreboardController as scoreboard">

  <div class="scoreboard_section home">
    <div class="team_logo" home-team-logo></div>

    <div class="team_score" home-team-score></div>
  </div>

  <div class="scoreboard_section clock">
    <div class="clock_container">
      <span>15:00</span>
    </div>

    <div class="game_options">
      <span class="fa fa-home"></span>
      <span class="fa fa-play"></span>
      <span class="fa fa-volume-up"></span>
    </div>

    <div class="quarter_marker">
      <span>qtr</span>
      <span>1</span>
    </div>
  </div>

  <div class="scoreboard_section away">
    <div class="team_score" away-team-score></div>

    <div class="team_logo" away-team-logo></div>
  </div>
</div>