<div class="scoreboard_container">

  <div class="scoreboard_section home">

    <div class="team_logo">
      <img src="/assets/teams/home/sec/auburn.png" />
    </div>

    <div class="team_score">
      <span>00</span>
    </div>
  </div>

  <div class="scoreboard_section clock">
    <div class="clock_container">
      <span>15:00</span>
    </div>

    <div class="game_options">
      <span class="fa fa-home"></span>
      <span class="fa fa-play"></span>
      <span class="fa fa-volume-up"></span>
    </div>

    <div class="quarter_marker">
      <span>qtr</span>
      <span>1</span>
    </div>
  </div>

  <div class="scoreboard_section away">

    <div class="team_score">
      <span>00</span>
    </div>

    <div class="team_logo">
      <img src="/assets/teams/away/sec/alabama-bw.png" />
    </div>
  </div>
</div>